.container{
  max-width: 1240px;
  margin: 0 auto;
  position: relative;
}

.container--small{
  max-width: 1150px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
}

.container--xsmall{
  max-width: 980px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
}

