.button {
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-small, $line-height-small, $btn-border-radius);
  user-select: none;
  display: inline-block;
  margin-bottom: 0;
  font-weight: $btn-font-weight;
  font-family: $btn-font-family;
  margin-top: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: $button-border-width solid transparent;
  white-space: nowrap;
  transition: all 0.2s ease-out;
  &,
  &:active,
  &.is-active {
    &:focus {
      @include tab-focus();
    }
  }

  &:hover,
  &:focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.is-active {
    outline: 0;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    @include opacity(0.65);
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: none;
  }
}

.button--link {
  color: $link-color;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;

  &,
  &:active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    box-shadow: none;
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: underline;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}
.button--large {
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius);
}
.button--small {
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius);
}
.button--extra-small {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $btn-border-radius);
}

.button--wide{
  padding-left: 2em;
  padding-right: 2em;
}

.button--square{
  padding: $padding-base-vertical;
}

.button--block{
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.button-mobile--full{
  @media #{$medium-max} {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.button--block + .button--block {
  margin-top: 5px;
}

.btn{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-primary{
  color: $quaternary-color;
  font-family: 'Open Sans', sans-serif;
  background-color: $secundary-color;
  border: 0;
  margin: 0 8px;
  @include font-size(16px);
  transition: 0.7s;
  &:hover{
    background-color: $btn-hover-color;
  }
}

.btn-secundary{
  color: $quaternary-color;
  font-family: 'Open Sans', sans-serif;
  background-color: $secundary-background-color;
  border: 1px solid $secundary-color;
  margin: 0 8px;
  @include font-size(12px);
  transition: 0.7s;
  &:hover{
    background-color: $font-icon-color;
  }
}

.btn-contact{
  color: $primary-color;
  font-family: 'Open Sans', sans-serif;
  background-color: $secundary-background-color;
  border: 1px solid $primary-color;
  margin: 0 8px;
  @include font-size(13px);
  transition: 0.7s;
  &:hover{
    background-color: $primary-color;
  }
}


.btn-lg{
  padding: 10px 16px;
  line-height: 1.3333;
  border-radius: 6px;
}
